<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
  <script src="//d3js.org/d3.v3.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">NBA Data</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Feature</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Plots
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('scatterplot_Wins_Popularity') }}">Popularity Vs Wins</a>
                <a class="dropdown-item" href="{{ url_for('Scatterplot_Points_Popularity') }}">Popularity Vs Points</a>
                <a class="dropdown-item" href="{{ url_for('scatter_points_rank') }}">Ranking Vs Points</a>  
              </div>
            </li>
          </ul>
        </div>
      </nav>
<script src="https://d3js.org/d3.v4.min.js"></script>


  <div class="well">
    <h5>SELECT Player:</h5>
    <select id="selDataset" onchange="optionChanged(this.value)" , style="fill:black"></select>
    <div class="row">
      <div class="col-lg-12">
      <p><a class="accordion-toggle", href=#content-3 , style="text-align: right">Player Pictures</a></p>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-12  col-md-9">
      <div id="scatter">
        <!-- We append our chart here. -->
      </div>
    </div>
  </div>



  

  

<div class="accordian-toggle" id="content-3">
  <div id="table">

  </div>
</div>



  <script>
    // this console.logs the event when the html page is clicked 
  document.addEventListener('click',function(event){
    
    console.log(event)
    if(!event.target.classList.contains('accordian-toggle')) return;
// get content area
var content = document.querySelector(event.target.hash);
if (!content) return;
console.log(content);
  },false)
  </script>
<table>
    
</table>
<script>
  
  /// setting the inner width and hieght of the html web page to variables 
  var svgWidth = window.innerWidth;
  var svgHeight = window.innerHeight;
// setting the margins
  var margin = {
    top: 50,
    bottom: 100,
    right: 50,
    left: 100
  };
// this is the hight of the chart
  var height = svgHeight - margin.top - margin.bottom;
  var width = svgHeight - margin.left - margin.right;

  var z = d3.scale.category10();
  
  // Append SVG element
  var svg = d3
    .select("#scatter")
    .append("svg")
    .attr("height", svgHeight)
    .attr("width", svgWidth);

  // Append group element
  var chartGroup = svg.append("g")
    .attr("transform", `translate(${margin.left}, ${margin.top})`);







  

// the player's name listed being called with d3
var selector = d3.select("#selDataset");

  // Use the list of sample names to populate the select options
  d3.json("/list_of_players",function(sampleNames){
    sampleNames.forEach((sample) => {
      selector
        .append("option")
        .text(sample)
        .property("value", sample);
    });
    
   // for(i=0;i<sampleNames.length;i++){
    const firstSample = sampleNames[0];
   
    var namess = firstSample.split(" ")
    console.log(namess)
    // this d3.json section is used to put an image on the webpage
    // 
    d3.json("/playerList/"+namess[0]+"/"+namess[1],function(url_img){
console.log(url_img)
var svg2 = d3.select("body")
                .append("svg")
                .attr("width", 300)
                .attr("height", 200)
                ;
var imgs = svg2.selectAll("image").data([0]);
                imgs.enter()
                .append("svg:image")
                .attr("xlink:href", url_img)
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", 400)
                .attr("height", 200);



  })

 // }

    d3.json("/player_data",function(data){
  // var player_name_select = d3.select
  //console.log(data)
  for(i=0;i<data.length;i++){
    if(data[i].player == firstSample){
      var ct = i
    }
  }
  var points = "points"
  var salary_millions = "salary_millions"
  var twitter_favorite_count = "twitter_favorite_count"
  var twitter_retweet_count = "twitter_retweet_count"
  var games_played = "gp"
  var minutes_per_game = "mpg"
// parcing the data, though honestly i do not think this servers any
// value to the code at this point
for(k=0;k<data.length;k++){
    if(data[k].player == firstSample){
      console.log(data[k])
      data.forEach(function(data1){
      data1.points = +data1.points;
      data1.salary_millions = +data1.salary_millions;
      data1.twitter_favorite_count = +data1.twitter_favorite_count;
      data1.twitter_retweet_count = +data1.twitter_retweet_count;
      return;
    });
    var player_number = k
    var point = data.map( d=>d.points )
    var mill_sal = data.map( d=> d.salary_millions)
    console.log(d3.extent(point));
    console.log(d3.extent(mill_sal))

    var xLinearScale = d3.scaleLinear()
      .domain(d3.extent(data, d => d.salary_millions))
      .range([0, width]);

    var yLinearScale = d3.scaleLinear()
      .domain(d3.extent(data, d => d.points))
      .range([height, 0]); 
    // create axes
    var xAxis = d3.axisBottom(xLinearScale);
    var yAxis = d3.axisLeft(yLinearScale).ticks(7);
    //append axes
chartGroup.append("g")
      .attr("transform", `translate(0, ${height})`)
      .call(xAxis);

    chartGroup.append("g")
      .call(yAxis);


      var listt = [mill_sal,point];
console.log(listt);

console.log(data[ct].salary_millions)
console.log(data[ct].points)


// the for loop below will format the data so it can be put into
// a scatter plot, the reason why it needs a specific format is because 
// we want one data point to stick out
array_for_plot = [[],[]]
for(var i=0;i<listt[0].length;i++){
  array_for_plot[0].push({'x':listt[0][i],'y':listt[1][i]})
}
array_for_plot[1].push({'x':listt[0][player_number],'y':listt[1][player_number]})
console.log(array_for_plot)

chartGroup.selectAll(".series")
      .data(array_for_plot)
    .enter().append("g")
      .attr("class", "series")
      .style("fill", function(d, i) { return z(i); })
    .selectAll(".point")
      .data(function(d) { return d; })
    .enter().append("circle")
      .attr("class", "point")
      .attr("r", 4.5)
      .attr("cx", function(d) { return xLinearScale(d.x); })
      .attr("cy", function(d) { return yLinearScale(d.y); });



chartGroup.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", - margin.left)
  .attr("x", - (height / 2)-40)
  .attr("dy", "1em")
  .attr("class", "aText")
  .attr("id","axisY")
  .text("Points");

chartGroup.append("text")
  .attr("transform", `translate(${width / 2}, ${height + margin.top - 10})`)
  .attr("class", "axisText")
  .attr("id","axisX")
  .text("Salary in Millions")
//////////////////////////////////////////////////////




    }

}
})


  });
  function optionChanged(newSample) {
    var namess = newSample.split(" ")
    d3.json("/playerList/"+namess[0]+"/"+namess[1],function(url_img){
console.log(url_img)




  })


  console.log(newSample)

  var namess = newSample.split(" ")
    console.log(namess)
    d3.json("/playerList/"+namess[0]+"/"+namess[1],function(url_img){
console.log(url_img)
var svg2 = d3.select("body")
                .append("svg")
                .attr("width", 300)
                .attr("height", 200)
                ;
var imgs = svg2.selectAll("image").data([0]);
                imgs.enter()
                .append("svg:image")
                .attr("xlink:href", url_img)
                .attr("x", 0)
                .attr("y", 0)
                .attr("width", 400)
                .attr("height", 200)
                .text(newSample);

  });


  d3.json("/player_data",function(data){
  // var player_name_select = d3.select
  //console.log(data)
  for(i=0;i<data.length;i++){
    if(data[i].player == newSample){
      var ct = i
    }
  }
  var points = "points"
  var salary_millions = "salary_millions"
  var twitter_favorite_count = "twitter_favorite_count"
  var twitter_retweet_count = "twitter_retweet_count"
  var games_played = "gp"
  var minutes_per_game = "mpg"
for(k=0;k<data.length;k++){
    if(data[k].player == newSample){
      console.log(data[k])
      data.forEach(function(data1){
      data1.points = +data1.points;
      data1.salary_millions = +data1.salary_millions;
      data1.twitter_favorite_count = +data1.twitter_favorite_count;
      data1.twitter_retweet_count = +data1.twitter_retweet_count;
      return;
    });
    var player_number = k
    var point = data.map( d=>d.points )
    var mill_sal = data.map( d=> d.salary_millions)
    console.log(d3.extent(point));
    console.log(d3.extent(mill_sal))

    var xLinearScale = d3.scaleLinear()
      .domain(d3.extent(data, d => d.salary_millions))
      .range([0, width]);

    var yLinearScale = d3.scaleLinear()
      .domain(d3.extent(data, d => d.points))
      .range([height, 0]); 
    // create axes
    var xAxis = d3.axisBottom(xLinearScale);
    var yAxis = d3.axisLeft(yLinearScale).ticks(7);
    //append axes
chartGroup.append("g")
      .attr("transform", `translate(0, ${height})`)
      .call(xAxis);

    chartGroup.append("g")
      .call(yAxis);


      var listt = [mill_sal,point];
console.log(listt);

//////////////////////////////////////////////////////

console.log(data[ct].salary_millions)
console.log(data[ct].points)



// the for loop below will format the data so it can be put into
// a scatter plot, the reason why it needs a specific format is because 
// we want one data point to stick out
array_for_plot = [[],[]]
for(var i=0;i<listt[0].length;i++){
  array_for_plot[0].push({'x':listt[0][i],'y':listt[1][i]})
}
array_for_plot[1].push({'x':listt[0][player_number],'y':listt[1][player_number]})
console.log(array_for_plot)


chartGroup.selectAll(".series").remove();
chartGroup.selectAll(".series")
      .data(array_for_plot)
    .enter().append("g")
      .attr("class", "series")
      .style("fill", function(d, i) { return z(i); })
    .selectAll(".point")
      .data(function(d) { return d; })
    .enter().append("circle")
      .attr("class", "point")
      .attr("r", 4.5)
      .attr("cx", function(d) { return xLinearScale(d.x); })
      .attr("cy", function(d) { return yLinearScale(d.y); });



chartGroup.append("text")
  .attr("transform", "rotate(-90)")
  .attr("y", - margin.left)
  .attr("x", - (height / 2)-40)
  .attr("dy", "1em")
  .attr("class", "aText")
  .attr("id","axisY")
  .text("Points");

chartGroup.append("text")
  .attr("transform", `translate(${width / 2}, ${height + margin.top - 10})`)
  .attr("class", "axisText")
  .attr("id","axisX")
  .text("Salary in Millions")
//////////////////////////////////////////////////////




    }

}
})
}
</script>


</body>
</html>